.card-project{
    border: 1px solid lightgray;
    padding: 20px;
    background-color: #fffeff;
    color: black;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 400px;
}
.details-button{
    background-color: #c4cbd6;
    border: none;
    border-radius: 5px;
    padding: 10px;

}
.status{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 0;
    font-size: 10px;
    width: fit-content;
    min-width: 150px;
    text-align: center;
}
button:hover{
    background-color: #d0efff;
    color: #406191;
    cursor: pointer;
}