.card-project{
    border: 1px solid lightgray;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 400px;
}