.report-one{
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}
input{
    background-color: lightgray;
    border-radius: 5px;
    border: none;
}
label{
    font-weight: bold;
}
.subinputs{
    display: flex;
    margin-top: 5px;
    gap: 5px;
}