.report-two{
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}
.radio-input{
    text-align: justify;
}
.radio-label{
    margin-left: -3px;
}
.subinputs{
    display: flex;
    margin-top: 5px;
    gap: 5px;
}