nav {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 40px; 
    background-color: #03254c;
    position: sticky;
    top: 0;
    width: 100%; 
    padding: 10px 1.5rem; 
    margin: 0; 
    padding-top: 10px; 
    z-index: 1000; 
}
.navbar-brand {
    display: flex;       
    align-items: center; 
    gap: 10px;           
    text-decoration: none;
}
.brand-logo{
    height: 30px;
    width: auto;
}
nav h2 {
    color: white;
    font-size: 1.5rem;
    margin: 0; 
    font-weight: bold;
    text-decoration: none;
}
nav ul {
    display: flex;
    margin: 0; 
    padding: 0; 
    list-style: none;
    align-items: center; 
}
nav ul li {
    list-style: none;
    padding: 0 10px; 
    margin: 0; 
    border-radius: 0.5rem;
}
nav ul li a {
    text-decoration: none;
    padding: 0; 
    margin: 0;
    color: white;

}
nav ul li a:hover {
    background-color: #d0efff;
    color: #03254c
}
.report-link {
    color: white;
    background-color: #406191;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin: 0; 
}
.report-button {
    color: white;
    background-color: #406191;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 0; 
}
