nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #03254c;
    position: sticky;
    top: 0;
    width: 100vw;
    left: 20%;
    margin-left: -3.5vw;
    margin-top: 0;
    padding-top: 0;
}
.navbar-brand{
    text-decoration: none;
}
nav h2{
    color: white;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 0;
    font-weight: bold;
    text-decoration: none;
}
nav ul{
    display: flex;
    margin-top: 0;
    padding: 0;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: block;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}
nav ul li a{
    text-decoration: none;
    padding: 8px;
    margin: 0 8px;
    color: white;
    /*border-radius: 8px;*/
}
nav li a:not(button) hover{
    background-color: #d0efff;
    color: #03254c;
}
.report-button{
    color: white;
    background-color: #406191;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
